<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDbConnection"
			 connectionString="server=n1nlmysql45plsk.secureserver.net;uid=tushar_TempDB;pwd=tushar_TempDB;database=tushar_TempDB;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>